{% extends "base.html" %}
{%load crispy_forms_tags %}

{% block head_title %} {{ title }} | {% endblock %}

{% block content %}
<div class="col-12 col-md-3 mx-auto mb-3">
    <form  method="post" action="{% url 'register' %}">
        {% if form.errors %}
            There is an error.
        {% endif %}
        {% if next %}
            Error
        {% endif %}
        {% csrf_token %}
        <table>
            {{ form|crispy}}
            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" value="Register">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}